example-adapter/src/main/resources/example-adapter.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://test.x-road.global/producer"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:id="http://x-road.eu/xsd/identifiers"
                  name="testService" targetNamespace="http://test.x-road.global/producer">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://test.x-road.global/producer">
            <!-- Import X-Road schema -->
            <xsd:import id="xrd" namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>

            <xsd:element name="getRandom" nillable="true">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="getRandomResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="data" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Service response
                                </xsd:documentation>
                                <xsd:appinfo>
                                    <xrd:title xml:lang="en">Random number response</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="helloService">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Name
                                </xsd:documentation>
                                <xsd:appinfo>
                                    <xrd:title xml:lang="en">Name</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="helloServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="message" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Service response
                                </xsd:documentation>
                                <xsd:appinfo>
                                    <xrd:title xml:lang="en">Hello response</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="listPeople">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listPeopleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="people">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="person" type="tns:personShort" minOccurs="0"
                                                maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="personDetails">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ssn" type="xsd:string">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <xrd:title xml:lang="en">Social Security Number</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="personDetailsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="person" type="tns:person" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="personShort">
                <xsd:sequence>
                    <xsd:element name="ssn" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title xml:lang="en">Social Security Number</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="firstName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title xml:lang="en">First name</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lastName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title xml:lang="en">Last name</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="person">
                <xsd:complexContent>
                    <xsd:extension base="tns:personShort">
                        <xsd:sequence>
                            <xsd:element name="dateOfBirth" type="xsd:date">
                                <xsd:annotation>
                                    <xsd:appinfo>
                                        <xrd:title xml:lang="en">Date of birth</xrd:title>
                                    </xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="contactAddress" type="xsd:string" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:appinfo>
                                        <xrd:title xml:lang="en">Contact address</xrd:title>
                                    </xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="contacts">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="contact" minOccurs="0" maxOccurs="unbounded"
                                                    type="tns:contact">
                                            <xsd:annotation>
                                                <xsd:appinfo>
                                                    <xrd:title xml:lang="en">Contact</xrd:title>
                                                </xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="contact">
                <xsd:sequence>
                    <xsd:element name="type" type="tns:contactType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title xml:lang="en">Contact type</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="name" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title xml:lang="en">Contact name</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="value" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title xml:lang="en">Contact value</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="contactType" final="restriction">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title xml:lang="en">Contact type</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="phone">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title xml:lang="en">PHONE</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="mobile">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title xml:lang="en">MOBILE</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="email">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title xml:lang="en">E-MAIL</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:enumeration>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="storeAttachments">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="storeAttachmentsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attachment" maxOccurs="unbounded" type="tns:attachmentType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAttachments">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="size" type="xsd:positiveInteger" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAttachmentsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attachment" maxOccurs="unbounded" type="tns:attachmentType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="attachmentType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="size" type="xsd:positiveInteger"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="requestheader">
        <wsdl:part name="client" element="xrd:client" />
        <wsdl:part name="service" element="xrd:service" />
        <wsdl:part name="userId" element="xrd:userId" />
        <wsdl:part name="id" element="xrd:id" />
        <wsdl:part name="issue" element="xrd:issue"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
    </wsdl:message>

    <wsdl:message name="getRandom">
        <wsdl:part name="body" element="tns:getRandom"/>
    </wsdl:message>
    <wsdl:message name="getRandomResponse">
        <wsdl:part name="body" element="tns:getRandomResponse"/>
    </wsdl:message>
    <wsdl:message name="helloService">
        <wsdl:part name="body" element="tns:helloService"/>
    </wsdl:message>
    <wsdl:message name="helloServiceResponse">
        <wsdl:part name="body" element="tns:helloServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="listPeople">
        <wsdl:part name="listPeople" element="tns:listPeople"/>
    </wsdl:message>
    <wsdl:message name="listPeopleResponse">
        <wsdl:part name="listPeopleResponse"
                   element="tns:listPeopleResponse"/>
      </wsdl:message>
    <wsdl:message name="personDetails">
        <wsdl:part name="personDetails" element="tns:personDetails"/>
    </wsdl:message>
    <wsdl:message name="personDetailsResponse">
        <wsdl:part name="personDetailsResponse"
                   element="tns:personDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="storeAttachments">
        <wsdl:part name="storeAttachments" element="tns:storeAttachments"/>
    </wsdl:message>
    <wsdl:message name="storeAttachmentsResponse">
        <wsdl:part name="storeAttachmentsResponse" element="tns:storeAttachmentsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAttachments">
        <wsdl:part name="getAttachments" element="tns:getAttachments"/>
    </wsdl:message>
    <wsdl:message name="getAttachmentsResponse">
        <wsdl:part name="getAttachmentsResponse" element="tns:getAttachmentsResponse"/>
    </wsdl:message>

    <wsdl:portType name="testServicePortType">
        <wsdl:operation name="getRandom">
            <wsdl:documentation>
                <xrd:title xml:lang="en">Get random number service</xrd:title>
                <xrd:notes>This service returns a random number every time.</xrd:notes>
            </wsdl:documentation>
            <wsdl:input message="tns:getRandom"/>
            <wsdl:output message="tns:getRandomResponse"/>
        </wsdl:operation>
        <wsdl:operation name="helloService">
            <wsdl:documentation>
                <xrd:title xml:lang="en">Hello service</xrd:title>
                <xrd:notes>This service returns a hello message using the given input.</xrd:notes>
            </wsdl:documentation>
            <wsdl:input message="tns:helloService"/>
            <wsdl:output message="tns:helloServiceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listPeople">
            <wsdl:documentation>
                <xrd:title xml:lang="en">List people service</xrd:title>
                <xrd:notes>This service returns a list of people in the registry.</xrd:notes>
            </wsdl:documentation>
            <wsdl:input name="listPeople" message="tns:listPeople"/>
            <wsdl:output name="listPeopleResponse"
                         message="tns:listPeopleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="personDetails">
            <wsdl:documentation>
                <xrd:title xml:lang="en">Person details service</xrd:title>
                <xrd:notes>This service returns the details of the person with the provided SSN. If no matching person
                    is found, an empty result is returned.
                </xrd:notes>
            </wsdl:documentation>
            <wsdl:input name="personDetails" message="tns:personDetails"/>
            <wsdl:output name="personDetailsResponse"
                         message="tns:personDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="storeAttachments">
            <wsdl:input name="storeAttachments" message="tns:storeAttachments"/>
            <wsdl:output name="storeAttachmentsResponse" message="tns:storeAttachmentsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAttachments">
            <wsdl:input name="getAttachments" message="tns:getAttachments"/>
            <wsdl:output name="getAttachmentsResponse" message="tns:getAttachmentsResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="testServiceBinding" type="tns:testServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getRandom">
            <soap:operation soapAction="" style="document" />
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="helloService">
            <soap:operation soapAction="" style="document" />
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="issue" use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listPeople">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input name="listPeople">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="listPeopleResponse">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="personDetails">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input name="personDetails">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="personDetailsResponse">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="storeAttachments">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input name="storeAttachments">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="storeAttachmentsResponse">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAttachments">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input name="getAttachments">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAttachmentsResponse">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="testService">
        <wsdl:port binding="tns:testServiceBinding" name="testServicePort">
            <soap:address location="http://localhost:8080/${project.build.finalName}/Endpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
